<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" v-cloak>
    <div v-if="players < 1" class="center-aligned">
      <form @submit.prevent="joinGame" class="d-flex m-0">
        <input v-model="gameId" class="form-control font-monospace" placeholder="Game ID" style="max-width: 8em;">
        <button class="btn btn-secondary ms-3">
          Join Game
        </button>
      </form>
      <div class="my-2">
        - or -
      </div>
      <button @click="createGame" class="btn btn-secondary">
        Start a New Game
      </button>
    </div>
    <div v-else-if="!showCanvas" class="center-aligned">
      <h3>
        You're in
      </h3>
      <div>
        {{ players }} {{ players === 1 ? "Player" : "Players" }}
      </div>
      <div class="mt-3">
        Invite players with the ID <span class="font-monospace user-select-all">{{ gameId }}</span>
      </div>
      <div class="my-2">
        - or -
      </div>
      <button @click="shareLink" class="btn btn-secondary">
        Share Link
      </button>
      <div class="d-flex my-4">
        <button @click="cancel" class="btn btn-danger">
          Cancel
        </button>
        <button @click="startGame" class="btn btn-success ms-3" :disabled="players < 4">
          Start Game
        </button>
      </div>
    </div>
    <div id="hud" v-else-if="playerIndex >= 0" class="d-flex flex-column position-fixed top-0 h-100 w-100 p-3">
      <div class="d-flex justify-content-end">
        <div id="alliance-box" class="d-flex flex-column pt-2 pb-1 px-1 bg-secondary rounded overflow-hidden">
          <h5 @click="showAllianceUi = !showAllianceUi" class="ms-2 mb-1">
            Alliances
          </h5>
          <div class="d-flex flex-wrap">
            <div v-for="i in players">
              <div
                v-if="(i - 1) !== playerIndex"
                @click="allianceClicked(i - 1)"
                class="border rounded m-1 p-2"
                :style="'background-color: hsl(' + ((i - 1) / players * 360 + 225) + ', 70%, 60%)'"
                :class="allianceCursor === (i - 1) ? 'border-white' : 'border-secondary'"
              >
                <svg v-if="alliances[i - 1]" xmlns="http://www.w3.org/2000/svg" fill="black" class="bi bi-check-lg square-2" viewBox="0 0 16 16">
                  <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                </svg>
                <svg v-else xmlns="http://www.w3.org/2000/svg" fill="black" class="bi bi-x-lg square-2" viewBox="0 0 16 16">
                  <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="showTouchControls" class="d-flex justify-content-between align-items-end mt-auto">
        <div id="arrow-touch-controls">
          <div v-for="direction in ['Up', 'Left', 'Right', 'Down']" @click="pressKey('Arrow' + direction)" class="rounded bg-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-short square-3" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
            </svg>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <div @click="pressKey('q')" class="square-button">
              0
            </div>
            <div @click="pressKey('w')" class="square-button">
              Max
            </div>
          </div>
          <div class="d-flex">
            <div @click="pressKey('a')" class="square-button">
              -1
            </div>
            <div @click="pressKey('s')" class="square-button">
              +1
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <canvas id="canvas" style="display: none;"></canvas>
  

  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js" type="module"></script>
</body>
</html>